
* {
  margin: 0;
  padding: 0;
}
body{
  background-color: rgb(242, 255, 255);
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1, h5, p{
  text-align: center;
}
h5, p{
  color: grey;
}

.input{
  width: 100%;  
}
.dropdown{
  width:100%;
}
.myBlock{
  margin-top: 20px;
  padding:10px;
}
.myButton{
  margin: auto;
}